#Cateorylist {
    background-color: silver;
    color: black;
    width: 10%;
    height: 20%;
    border-radius: 25px;
    padding: 15px;
    position: absolute;
    top: 2%;
    left: 1%;
}

#Cateorylist div.cat {
    border-bottom: 1px dashed black;
    padding-bottom: 2px;
    padding-top: 2px;
}

